doctype html
html
  head
    meta(charset='utf8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // script(src='/javascripts/jquery.js')
    // script(src='/javascripts/app.js')
  body
    block content
    br
    a(href='/sample/') Go to sample page 
